{
    "printWidth": 80,
    "singleQuote": true,
    "jsxSingleQuote": false,
    "tabWidth": 4,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "endOfLine": "auto"
}