@function darken($color, $amount: 20) {
    @return mix(black, $color, $amount);
}


$p-grey: #efefef;
$p-grey-dark:  #b8c9cd;
$primary-background-color: #0e1e27;
$primary-background-color-darken: darken($primary-background-color);

$color-steady: #404040;
$color-success: #0FBE00;

$primary-theme-color: #7e994f;
$primary-theme-color-dimmed: #422f12;
$h1-color: #e1f7f7;
$h1-color-alt: #929697;
$p-color: #929697;
$profile-text-color: #929697;
$divider-color: #223339;
$media-max-width: 650px;

$size-h1: calc(1vw + 3.25rem);
$size-h2: calc(0.4vw + 1.5rem);
$size-subtitle: calc(0.4vw + 1rem);
$size-normal: calc(0.4vw + 0.85em);