

.home-box-experience {
    display: flex;
    width: 95%;
    margin: -1px;
    min-height: fit-content;
    height: 500px;

    .tag {
        background-color: $divider-color;
        user-select: none;
        font-size: 13px;
        color: $p-color;
        padding: 3px 11px 3px 11px;
        border-radius: 20px;
        font-family: 'Fira Code';
        margin-bottom: 2px;
        margin-right: 3px;
    }

    .tag-row {
        margin: 0 0 27px;

        @media (max-width: $media-max-width) {
            padding: 5px 0 0 0;
        }
        
        height: fit-content;
        display: flex;
        white-space: nowrap;
        flex-direction: row;
        flex-wrap: wrap;
    }


    flex-direction: row;
    @media (max-width: $media-max-width) {
        flex-direction: column;
    }
}

.experience-list {
    padding-inline-start: 0px;
    list-style-type: none;
    width: 200px;
    padding-left: 10px;
    margin-right: 20px;
    margin-top: 0px;
    height: max-content;

    display: flex;
    flex-direction: column;
    @media (max-width: $media-max-width) {
        flex-direction: row;
        overflow-x: scroll;
        margin-bottom: 0;
        margin-right: 0;
        width: -webkit-fill-available;
        padding-bottom: 0px;
        padding-left: 0;
    }

    .list-element {
        font-family: 'Fira Code';
        background: none;
        width: 191px;
        padding-left: 16px;
        border-radius: 5px;
        font-size: 18px;
        margin-bottom: 20px;

        @media (min-width: $media-max-width) {
            margin-left: 13px;
            &:not(:last-child) {
                margin-top: 0;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }

        @media (max-width: $media-max-width) {
            padding: 4px;
            margin: 0 10px 4px 10px;
            white-space: nowrap;
            width: fit-content;

            &:first-child {
                margin-left: 0;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.experience-list-divider-container {
    margin: 27px 20px 27px 0px;
    border-right: 1px solid $divider-color;
    @media (max-width: $media-max-width) {
        border-right: none;
        border-bottom: 1px solid $divider-color;
        margin: 10px 0px 10px 0px;
    }
}

.experience-container {
    min-height: 400px;
    margin-top: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.experience-description {
    h4 {
        color: $primary-theme-color;
        margin: 0px;
        margin-bottom: 4px;
        font-weight: normal;
        font-family: 'Fira Code';
        font-size: 20px;

        span {
            color: $p-color;
            font-size: 13px;
        }
    }

    a {
        color: inherit;
    }

    .description {
        font-size: 15px;
        font-family: 'Fira Code';
        ul {
            padding-inline-start: 17.5px;
        }
    }

    @media (max-width: $media-max-width) {
        padding-top: 18px;
    }
}

.footnote {
    font-size: 15px;
    font-family: 'Fira Code';

    span {
        white-space: nowrap;
        margin-right: 18px;
        margin-top: 20px;
        color: $p-grey-dark;
    }
}

.selection-slider {
    background-color: $primary-theme-color;
    border-radius: 2px;
    &.backdrop {
        background-color: $divider-color;
    }
}

.active {
    color: $primary-theme-color;
}