@import './variables';

.projects-container {
    min-height: 400px;
    display: flex;
    justify-content: center;
    width: auto;
    position: relative;
    pointer-events: all;

    .image-container {
        margin: 10px 0 0 0;
        position: relative;

        * {
            border-radius: 7px;
        }

        .image-overlay {
            cursor: pointer;
            background-color: $primary-theme-color;
            user-select: all;
            pointer-events: all;
            opacity: 0.2;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
}

.project-box {
    margin: 5px;
    padding: 20px;
    width: 300px;
    height: 400px;
    font-size: 15px;
    display: block;
    font-family: "Fira Code";
    user-select: none;
    pointer-events: none;
    border-radius: 7px;

    background-color: $primary-background-color;
}

.carousel {
    display: flex;
    overflow-x: auto;
    padding: 5px;
    border-radius: 7px;
    border: 1px solid $divider-color;
    background-color: $primary-background-color-darken;

    a {
        font-size: 20px;
    }
    .carousel-shadow {
        height: auto;
        width: 1px;
    }
}
