@import './_variables';

:export {
    primaryThemeColor: $primary-theme-color;
    primaryThemeColorDimmed: $primary-theme-color-dimmed;
    backgroundBlue: $background-blue;
    dividerColor: $divider-color;
    pColor: $p-color;
    mediaMaxWidth: $media-max-width;
}